<div class="styled">
  <h1>Hello, this is my first Angular App</h1>
  <app-chat></app-chat>
  <app-users></app-users>
</div>
<div class="styled">
  <app-string-interpolation></app-string-interpolation>
</div>
<div class="styled">
  <app-prop-binding></app-prop-binding>
</div>
<div class="styled">
  <app-event-binding></app-event-binding>
</div>


  
  <h1>@input</h1>
  <app-hello [name]="title"></app-hello>
  <hr>

  <h1>@output</h1>
  <h4>Current value of the Counter is <span [class]="'classToSet'">{{ counter }}</span></h4>
  <app-counter-actions (counterChange)="onCounterChange($event)"></app-counter-actions>

